@font-face {
    font-family: wizzta;
    src: url("../fonts/wizzta.ttf");
}
/*https://www.1001fonts.com/wizzta-font.html*/
body {
    font-family: wizzta;
    background-image: url("../images/morocco-blue.png");
    font-size: 34px;
    font-weight: 900;
}

img {
    width: 175px;
    height: 175px;
    margin: 15px;

}

.crystals {
    font-size: 55px;
}